@using PlantingCalendar.Models
@model SeedDetailModel

<div class="text-center">
    <form asp-controller="Seed" asp-action="SeedInfo" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace">
        @Html.HiddenFor(m => m.Id);
        <div>
            <div>
                PlantType
            </div>
            <div>
                @Html.TextBoxFor(m => m.PlantType)
            </div>
        </div>
        <div>
            <div>
                Variety / Breed
            </div>
            <div>
                @Html.TextBoxFor(m => m.Breed)
            </div>
        </div>
        <div>
            <div>
                Description
            </div>
            <div>
                @Html.TextAreaFor(m => m.Description)
            </div>
        </div>
        <div>
            <div>
                Sun Requirements
            </div>
            <div>
                @Html.TextBoxFor(m => m.SunRequirement)
            </div>
        </div>
        <div>
            <div>
                Watering Requirements
            </div>
            <div>
                @Html.TextBoxFor(m => m.WaterRequirement)
            </div>
        </div>

        <div>
            <input type="submit" value="Save" id="btnSubmit" />
        </div>

    </form>

    <button onclick="deleteSeed(@Model.Id)">Delete</button>
</div>
