@model SeedsListModel

@if (Model.Seeds.Count() == 0)
{
    <tr>
        <td></td>
        <td></td>
        <td>No Seeds Found...</td>
        <td></td>
        <td></td>
    </tr>
}

@foreach (var seed in Model.Seeds)
{
    <tr onclick="loadPopup('popupBackground', 'seedInfoPopup', @seed.Id)">
        <td class="width3">@seed.PlantType</td>
        <td class="width3">@seed.Breed</td>
        <td class="width2">@seed.SunRequirement</td>
        <td class="width3">@seed.WaterRequirement</td>
        <td class="width1">@seed.IsExpired</td>
    </tr>
}
